.bod2,.bod1, .bod{
	background-color: rgba(75,0,255,0.7);
	margin:2% 6%;
	
}
p{
	color: white;
	text-align: justify;
	padding: 1%;
}

h3{
	text-align: center;

}


.wire{
	display: flex;
	flex-direction: row;
	width:100%;
	
}
.wire img{
	width: 40%;
	margin: 5%;
	height: 300px;
}

.valid{
	width: 98%;
	margin: 1%;
	height: auto;
	border-style: solid;
	border-color: red;
}
	
.valid a{
	display: inline-flex;
	flex-direction: row;
	width:150px;
	height: 150px; 
	margin: 1%;
	padding: 2%;

}



@media screen and (max-width: 650px){

	.wire img{
	height: auto;
	}
}
